.containerModalFechado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    overflow-y:auto;
    background-color: rgba(0, 0, 0, 0.322);
    opacity: 0;
    transition: all ease .5s;
}

.containerModalAberto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    overflow-y:auto;
    background-color: rgba(0, 0, 0, 0.322);
    opacity: 1;
    transition: all ease .5s;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    width: 40vw;
    z-index: 10;
    border-radius: 20px;
}


.name {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.valor {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.containerQt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerQt button {
    width: 30px;
    font-size: 20px;
    margin: 10px;
}

.imgItem {
    max-width: 300px;
}

.containerButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.containerButtons button {
    font-size: 20px;
    padding: 5px;
    margin-left: 10px;
}