.containerModalFechado {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.322);
  opacity: 0;
  transition: all ease 0.5s;
}

.containerModalAberto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.322);
  opacity: 1;
  transition: all ease 0.5s;
}


.closeImg {
    width: 50px;
    cursor: pointer;
}


.imgItem {
  max-width: 300px;
}






