@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto+Slab:wght@300;700&display=swap');

:root {
    --header-color: #B3001B;
    --body-color: #255C99;
    --teste: #7EA3CC;
}