



.btnFinalizarFechado {
  display: none;
  width: 80%;
  font-size: 30px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--body-color);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.btnFinalizarAberto {
  width: 80%;
  font-size: 30px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--body-color);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .informationsItemCarrinho {
    flex-direction: column;
    align-items: center;
  }

  .nameItemCarrinho {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .imgItemCarrinho {
    margin-bottom: 10px;
  }

  .qtdItemCarrinho {
    margin-bottom: 8px;
  }

  .btnFinalizarAberto {
    width: 100%;
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .total h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 425px) {
  .total h2 {
    font-size: 1.1rem;
  }

  .containerCarrinhoFechado {
    display: none;
  }

  .containerCarrinhoAberto {
    z-index: 10;
    width: 100vw;
    position: fixed;
    height: 100%;
    padding: 5px;
  }

  .informationsItemCarrinho {
    flex-direction: row;
    padding: 4px;
    margin: 5px;
  }

  .nameItemCarrinho {
    font-size: 0.7rem;
  }

  .itemCarrinhoAberto {
    border-bottom: 2px solid black;
    padding: 0px;
    margin: 0;
  }

  .qtdItemCarrinho {
    font-size: 0.7rem;
    margin: 2px;
  }

  .valorItemCarrinho {
    font-size: 0.7rem;
  }

  .imgItemCarrinho {
    height: auto;
    width: 50px;
  }

  .closeImg {
    width: 30px;
  }
}
