.containerModalCarrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.322);
}

.modalCarrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    width: 40vw;
    z-index: 10;
    border-radius: 20px;
}

.name {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.valor {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.containerQt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerQt button {
    width: 30px;
    font-size: 20px;
    margin: 10px;
}

.imgItem {
    max-width: 300px;
}

.containerButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.containerButtons button {
    font-size: 20px;
    padding: 5px;
    margin-left: 10px;
}